.promotion .name {
	color: black;
	background: #24CC73;
	padding: 5px 0px 5px 10px;
}
.titkms {
	margin-bottom: 5px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 18px;
    color: #fff;
    background: #f5a623;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.promotion .content {
	border: 1px dotted;
	list-style-position: inside;
}

